body,div,ul,li,a,img,p,span{margin: 0;padding: 0;list-style: none;text-decoration: none}
.fl{float: left}
.fr{float: right} 
.clearfix:after{content: " ";  /*加一段内容*/
    display: block;	 /*让生成的元素以块级元素显示，占满剩余空间*/
    height: 0;			/*避免生成的内容破坏原有布局高度*/
    clear: both;		/*清除浮动*/
    visibility: hidden;		/*让生成的内容不可见*/
    }
a{
    text-decoration: none;
    color: #5D5D5D;
}
#box{
    overflow: hidden;
}
header{
    width: 100%;
    height: 650px; 
    background: url(../images/adc1.jpg);
    background-size: 100% 100%;
}
header>nav>ul{
    float: right;
    margin-right: 20px;
}
header>nav>#nav-left{
    float: left;
    margin-top: 50px;
    margin-left: 70px;
}
header>nav>ul>li{
    float: left;
    margin-right: 70px;
    margin-top: 50px;
}
header>nav>ul>li>a{
    color: #616161
}
header>#a1-right{
    margin-top: 50px;
    margin-right: 140px;
}
header>#a1-right>p{
    font-size: 35px;
    color: #fff;
}
header>#a1-right>p:nth-of-type(1){
    margin-left: 140px;
}
main>#box-2{
    width: 100%;
    height: 200px;
    background: #1F1F1F;
}
main>#box-2>ul>li{
    float: left;
}
main>#box-2>ul>li:nth-of-type(3){
    float: right;
    margin-right: 18%;
    margin-top: 80px;
}
.p-span{
    position: relative;
    top: -34px;
    left: -200px;
}
main>#box-2>ul>li>p{
    font-size: 25px;
    color: #5D5D5D;
    padding-top: 100px;
    margin-left: 50px;
}
main>#box-2>ul>li>span{
   font-size: 14px; 
   color: #5D5D5D;
   margin-left: 50px;
}
.block-span{
    display: block;
    margin-top: 100px;
}
main>#box-2>ul>li>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
    
}
main>#box-3{
    width: 100%;
    height: 650px;
    background: #1F1F1F;
}
.box-3-img{
    display: block;
    margin: 0 auto 50px auto;
   
}
.box-3-left{
    width: 55%;
    height: 500px;
    float: left;
    margin-left: 5%;
}
.box-3-left>p{
    float: right;
    margin-right: 6%;
    color: #5D5D5D;
    margin-top: 10px;
}
.box-3-left>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
}
.box-3-right{
    width: 35%;
    height: 500px;
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}
.box-3-right-p{
    color: #5D5D5D;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
}
.box-3-right-p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
}
.box-3-right-p2{
    font-size: 14px;
    margin-top: 30px;
    margin-left: 10px;
    color: #5D5D5D;
}
.box-3-right-img1{
    margin-top: 60px;
    margin-left: 10px;
    display: block;
}
.box-3-right-img2{
    margin-left: 10px;
    margin-top: 80px;
}
#box-4{
    width: 100%;
    height: 650px;
    background:#212121;
}
#box-4>p{
    font-size: 25px;
    color: #5D5D5D;
    float: right;
    margin-right: 10%;
    margin-top: 40px;
}
#box-4>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
}
.box-4-left{
    width: 80%;
    height: 300px;
    margin: 0  auto;
    background: url(../images/ad9.png);
    background-size: 100% 100%;
    position: relative; top: 170px;
}
.box-4-left-p1{
    font-size: 25px;
    color: #5D5D5D;
    padding-top: 40px;
    margin-left: 40px;
}
.box-4-left-p1>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
}
.box-4-left-p2{
    margin-top: 40px;
    color: #5D5D5D;
    margin-left: 40px;
}
.box-4-left-img1{
    position: relative;
    top: -240px;
    left: 500px;
}
.box-4-img2{
position: relative;
 top: -370px;
 left: -629px;
}
main>#box-5{
    width: 100%;
    height: 300px;
    background: #212121;
}
main>#box-5>.box-5-left{
    margin-top: 100px;
    margin-left: 370px;
}
main>#box-5>.box-5-left>p{
    color: #505D5D;
    position: relative;
    top: -54px;
    left: 28px;
}

main>#box-5>.box-5-right{
    margin-top: 100px;
    margin-left: 70px;
}
main>#box-5>.box-5-right>p{
    color: #5D5D5D;
}
main>#box-5>.box-5-right>p>span{
    border-top: 2px solid #FE7600;
    padding-top: 15px;
}
main>#box-6{
    width: 100%;
    height: 240px;
    background: #1F1F1F;
}
main>#box-6>p{
    color: #5D5D5D;
    margin-left: 70px;
    padding-top: 70px;
    font-size: 25px;
}
main>#box-6>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 5px;
}
main>#box-6>img{
    display: block;
    margin: 50px auto;
}
main>#box-7{
    width: 100%;
    height: 600px;
    background: #1F1F1F;
}
.box-7-p1{
    color: #5D5D5D;
    /* margin: 0 auto; */
    margin-left: 70px;
    font-size: 15px;
}
main>#box-7>.box-7-left{
    width: 50%;
    height: 500px;
    margin-top: 30px;
}
main>#box-7>.box-7-left>.box-7-left-top{
    width: 100%;
    height: 50%;
}
main>#box-7>.box-7-left>.box-7-left-top>img{
    margin-left: 65px;
    margin-top: 10px;
}
main>#box-7>.box-7-left>.box-7-left-bot{
    width: 100%;
    height: 50%;
}
main>#box-7>.box-7-left>.box-7-left-bot>img{
    margin-left: 10px;
}
main>#box-7>.box-7-left>.box-7-left-bot>p{
    margin-top: 190px;
    margin-left: 165px;
    color: #505D5D
}
main>#box-7>.box-7-left>.box-7-left-bot>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 10px;
}
main>#box-7>.box-7-left>.box-7-left-top>p{
    margin-right: 180px;
    color: #5D5D5D
}
main>#box-7>.box-7-left>.box-7-left-top>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 10px;
}
main>#box-7>.box-7-right{
    width: 50%;
    height: 500px;
    margin-top: 30px;
}
main>#box-7>.box-7-right>p{
    margin-right: 80px;
    color: #5D5D5D;
    margin-top: 25px;
}
main>#box-7>.box-7-right>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 10px;
}
main>#box-8{
    width: 100%;
    height: 600px;
    background: #212121;
}
main>#box-8>#box-8-1{
    width: 90%;
    margin: 20px auto;
}
main>#box-8>p{
    color: #505D5D;
    font-size: 25px;
    margin-left: 550px;
    padding-top: 60px;
}
main>#box-8>p>span{
    border-bottom: 2px solid #FE7600;
    padding-bottom: 10px;
}
main>#box-8>#box-8-1>p{
    margin-top: 20px;
    color: #505D5D;
    font-size: 15px;
}
main>#box-8>#box-8-1>img{
    margin-top: 20px;
}
main>#box-9{
    width: 100%;
    height: 400px;
    background: #1F1F1F;
}
main>#box-9>div{
    margin-left: 90px;
    padding-top: 50px;
}
main>#box-9>p{
    color: #5D5D5D;
    margin-top: 20px;
}
main>#box-9>p:nth-of-type(1){
    margin-left: 90px;
}
main>#box-9>p:nth-of-type(2){
    margin-right: 90px;
}
main>#box-9>p:nth-of-type(3){
    margin-left: 90px;
}
main>#box-9>p:nth-of-type(4){
    margin-right: 90px;
}















.fla{
    margin-left: 4px;
}
.fra{
    margin-right: 14px;
}
.box-5-img1{
    display: block;
    margin: 0 auto;
}


.a{
    color: #fff;
}
























